body{
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}

/* nav */

nav {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: #333 1px solid;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

/* home.html */

#home {
    background-image: url('assets/mainBack.png');
}

h1 {
    color: #484848;
    font-size: 1.5rem;
}

#home-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 10px 0;
    border: #ffffff 2px solid;
}

.about {
    background-color: transparent;
    padding: 5px;
    margin: 30px 0;
    border-radius: 8px;
    border: #ffffff 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* projects.html */

#project-page {
    background-image: url('assets/projectBack.png');
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project {
    border: #ffffff 2px solid;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.coming-soon {
    font-style: italic;
    color: #888;
    padding: 0px;
    margin: 5px;
}

/* contact.html */

#contact-page {
    background-image: url('assets/contactBack.png');
}

#contact-info {
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    border: #ffffff 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ccc;
    color: #777;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top-color: #484848;
    position: fixed;
}