body{
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}

/* home.html */

#home {
    background-image: url('assets/mainBack.png');
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;

}

h1 {
    color: #484848;
    font-size: 1.5rem;
}

#home-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 10px 0;
    border: #ffffff 2px solid;
}

.about {
    background-color: transparent;
    padding: 5px;
    margin: 30px 0;
    border-radius: 8px;
    border: #ffffff 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* projects.html */

#project-page {
    background-image: url('assets/projectBack.png');
}

/* contact.html */

#contact-page {
    background-image: url('assets/contactBack.png');
}